*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	font-size: 100%;
}

body{
	margin-bottom: 50px;
}

.inner{
	width: 100%;
	max-width: 1000px;
	padding: 0 50px;
	margin: 0 auto;
}


.box{
	width: 100px;
	height: 100px;
	background-color: #AAAAAA;
	margin-top: 30px;
	padding: 10px;
	color: white;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}